/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');



html {
    background-image: linear-gradient(to bottom right, #4e28c0,#BB09BC);
    height: 100%; /* ensures that the gradient fills the entire page */
}

/* styling for everything in the body */
body {
    height: 100%; /* ensures that the body fills the entire page */
    margin: 0; /* removes any margin or padding around the body */  
    font-family: 'Nunito Sans', sans-serif;
    color: white;
}


/* styling for the text on the bottom "made with love" */
.made-with-love {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
  }

/* styling for the text under construction */
.underConstruction {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    color: white;
  }


/* styling for the text game */
  .container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
  }
  
  h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  .word {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .guess {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .button {
    background-color: #478ba2;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
  }
  

button {
    background-color: #478ba2;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    margin-top: 90px;
  }

/* styling for the login */
html, body {
  height: 100%;
  color: #7322BF;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.center {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.login {
background: #fff;
border-radius: 5px;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
padding: 20px;
text-align: center;
}

.login-headline {
margin-top: 0;
}

form {
display: inline-block;
text-align: left;
}

label {
display: block;
margin-bottom: 10px;
}

input[type=password] {
padding: 10px;
border-radius: 3px;
width: 100%;
margin-bottom: 20px;
box-sizing: border-box;
border: 2px solid #A314BD;
border-radius: 4px;
}

input[type=submit] {
background: #7322BF;
color: white;
border-radius: 8px;
border: none;
}