/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');

html {
    background-image: linear-gradient(to bottom right, #4e28c0,#BB09BC);
    height: 100%; /* ensures that the gradient fills the entire page */

}

/* styling for everything in the body */
body {
    height: 100%; /* ensures that the body fills the entire page */
    margin: 0; /* removes any margin or padding around the body */  
    font-family: 'Nunito Sans', sans-serif;
    color: white;
}


/* styling for the text on the bottom "made with love" */
.made-with-love {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

.underConstruction {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 50px;
    font-weight: 800;

  }
